<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://uhlovodiky.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/739b9421-31d0-44b2-be70-eef09df4752b/resourceGroups/uhlovodiky/providers/Microsoft.Web/sites/uhlovodiky</ResourceId>
    <UserName>$uhlovodiky</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://uhlovodiky.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>